# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# macOS
.DS_Store

# Downloaded/local binary artifacts
*.xcframework
*.xcframework.zip
artifact.zip
